@charset "UTF-8";

.meta-header{
   position: relative;
   width: 100%;
   background-image: url('https://cdn.pixabay.com/photo/2018/01/04/19/51/water-3061496_960_720.jpg');
   height: 300px;
   background-size: cover;
}
.meta-header .meta-content{
   position: absolute;
   top: 40%;
   left: 46%;
   text-align: center;
   color: rgb(255, 255, 255);
   font-weight: bold;
   line-height: 50px;
}

/* list-style */
.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'STIX Two Math';
}
.list .list-ul{
  list-style: none;
  display: flex;
  margin: auto;
}
.list-ul li{
  padding: 30px 80px;
  font-size: 2.0rem;;
}
.list a{
  color: #8c8c8c;
  text-decoration: none;
}
@media screen and (max-width: 800px){
  .list-ul li{
    padding: 30px 50px;
    font-size: 10px;
  }
}
.list-ul li:hover{color: #3b5386;}
.list-ul li a{position: relative; text-decoration: none;}
.list-ul li a:hover{color:#8c8c8c;}
.list-ul li a::after{
   content: '';
   width: 0%;
   left: 50%;
   height: 1px;
   display: block;
   position: absolute;
   margin-top: 3px;
}
.list-ul li:hover > a::after{
   content: '';
   width: 100%;
   left:0px;
   height: 1px;
   display: block;
   margin-top: 3px;
   border-bottom: 2px solid #5e8df3;
}


/* section */
.wrap{
  background-color: #f0efef;
}
.container{
  width:100%;
}
.container h2{
  padding: 10%;
  text-align: center;
  font-weight: bold;
}
.table{
  width: 100%;
  text-align: center;
  padding: 10px;
}
.table .star{
  margin: 0px 0px 20px 30px;
  font-size: 2.0rem;
}
.table thead{
  font-size: 1.6rem;
  font-weight: bold;
}
.table tbody a{
  color: #061027;
  text-decoration: none;
}
tbody tr:hover{
  background-color: beige;
}
.table .num{
  width:10%;
}
.table .title{
  width:50%;
}
.table .writer{
  width:20%;
}
.table .date{
  width:20%;
}

/* 글쓰기 버튼 */
.button{
  margin: 3%;
  float: right;
}
.button button{
  background-color: rgb(235, 225, 207);
  padding: 10px;
  border: 1px solid oldlace;
}
button a{
  color:#061027;
  text-decoration: none;
}
button a:hover{
  color:coral;
  text-decoration: none;
}